<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>BluBox</title>
	<link rel="stylesheet" type="text/css" href="{% static 'schedule/styles.css' %}">
	<link rel="shortcut icon" type="text/css" href="images/logo.png">
</head>


<body>
	<div class="banner">
		<div class="nav">
			<ul>
				<li><a href="../">home</a></li>
				<li><a href="../../instructor_list/">instructor list</a></li>
				<li><a href="../../register/">register</a></li>
				<li><a href="../../login/">login</a></li>
			</ul>
		</div>
		<div class="content">
			<h3>sign up for an instructor account</h3>



		</div>

	
	
	
	</div>
</body>
</html>